<script type="text/javascript">
    $(document).ready(function () {

        

        $("ul.topnav").click(function () {
            $('ul.subnav').slideToggle('fast', function () {
                // Animation complete.
            });
        });

    });  
</script>
<style type="text/css">
    .top 
    {
        color: #fefefe;
        font-size: 14px;
        padding: 10px;
        background-color: #232323;
    }
li 
{   
    padding: 5px;
}
ul 
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.subnav 
{
    display: none;
    padding-left: 10px;
}
</style>
<div id="login">
<div class="konto">
<div id="kontoMenu">
     
<ul class="topnav">
    <li class="top"><span class="user">@HttpContext.Current.User.Identity.Name</span>
    <ul class="subnav">
        <li>@Html.ActionLink("Mein Konto", "Konto", "User")</li>
        <li>@Html.ActionLink("Mein Konto bearbeiten", "KontoBearbeiten", "User")</li>
    </ul>
    </li>
    

</ul>
</div>

</div>



@using (Html.BeginForm("Konto", "User"))
{
    <input type="submit" value="Konto" />
}

@using (Html.BeginForm("KontoBearbeiten", "User"))
{
    <input type="submit" value="KontoBearbeiten" />
}

@using (Html.BeginForm("Logout", "User", FormMethod.Post))
{
    <input type="submit" value="Abmelden" />
}
</div>
