@model Login.Models.Stellenangebot
           
@{ 
    Layout = "";
} 

<div class="login">
<h2>Meine Stellenangebote</h2>



@using (Html.BeginForm("NeuesStellenAngebot", "AngeboteManager", FormMethod.Get))
{
    <input type="submit" value="neues Stellenangebot" />
}

@using (Html.BeginForm("StellenAngebot", "AngeboteManager", FormMethod.Post))
{
    <input type="submit" value="Stellenangebot Bearbeiten" />
}


</div>