h1, h2, h3, h4, h5 
{
    margin: 0;
}

a 
{
    display: inline-block;
}



#logo
{
    position: absolute;
    right: 0;
}

input {
    padding: 5px;
    background-color: #efefef;
    border: 1px solid #ccc;
}

input:focus {
    background-color: #fff;
}

input[type="submit"], .ui-button 
{
    cursor: pointer;
    border-radius: 0px;
    padding: 5px;
    font-size: 14px;
    min-width: 50px;
    background: #fff;
    box-shadow: inset 0 1px rgba(255,255,255,0.75), inset 0 10px 20px rgba(255,255,255,0.5), inset 0 -15px 30px rgba(0,0,0,0.1);
}

input[type=text], input[type=password] 
{
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 14px;
    line-height: 1;
    color: #111;
}

.ui-widget-overlay 
{
    position: fixed;
    top: 0;
    background-color: #000; 
    opacity: 0.75;  
}

.ui-dialog 
{
    background-color: #fff; 
    border: 1px solid #000; 
}

#page
{
    margin-left: auto;
    margin-right:auto;
    width: 1190px;
}

#login
{
    padding: 2px 0 0 2px;
}



#sidebar
{
    float: right;
    width: 300px;
}

#content
{
    padding: 2px 0;
    min-height: 500px;
    margin-right: 300px;
}

#footer
{
    width: 100%;
    clear: both;
}

body
{
    margin: 0;
    padding: 0;
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}


/*
 * Header Styles
----------------------------------------------------------*/
#header
{
    color: #fefefe;
    position: relative;
    height: 150px;
    width: 100%;
    background-color: #232323;
    
}

#header h1 
{
    padding: 40px 10px;
}

nav 
{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #666;
}

nav a 
{
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    color: #000;
}

nav a:hover 
{
    color: #fff;
}


/*
 * Style for Register Formular
----------------------------------------------------------*/
#ui-dialog-title-registerDialog {
    display: block;
    float: left;
    font-size: 24px;
    padding: 10px;
}

a.ui-dialog-titlebar-close
{
    float: right;
    display: inline-block;
    font-size: 24px;
    padding: 0 10px;
    text-decoration: none;
}

/*
 * Style für Admin
-----------------------------------------------------------*/

/* Benutzeruebersicht */
#benutzerListe 
{
    width: 100%;
    border: 0px;
}

#benutzerListe th 
{
    background-color: #232323;
    color: #fefefe;
    padding: 10px;
    border-bottom: 1px solid #666;
}

#benutzerListe td 
{
    padding: 10px;
    border-bottom: 1px solid #666;
}

#benutzerListe .ungerade 
{
    background-color: #eee;
}



/*
 * Style for Stellenangebot
-----------------------------------------------------------*/
#content h2 
{
    background-color: #232323;
    color: #EEEEEE;
    padding: 20px;
}

#stellenangebotMain .input 
{
    font-size: 20px;
}

.stellenangebot .gruppe 
{
    padding: 20px;
    border-bottom: 1px solid #232323;
}

.stellenangebot .input 
{
    position: relative;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    min-width: 200px;
}

.stellenangebot label 
{
    position: absolute;
    top: 27px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    color: #666;
}

/*
 * Style for Konto
-----------------------------------------------------------*/

#kontoMain .input 
{
    font-size: 20px;
}

.konto .gruppe 
{
    padding: 20px;
    border-bottom: 1px solid #232323;
}

.konto .input 
{
    position: relative;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    min-width: 200px;
}

.konto label 
{
    position: absolute;
    top: 27px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    color: #666;
}


/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
