    .webgrid
    {
        width: 50%;
        border: 1px solid black;
        border-collapse: collapse;
    }
     
    .webgrid a
    {
       color: black;
       text-decoration: none;
   }
    
   .webgrid-header
   {
       padding: 6px 5px;
       text-align: left;
       
       background-color: white;
       border-bottom: 2px solid #3966A2;
       height: 40px;
    
       border-top: 2px solid #D6E8FF;
       border-left: 2px solid #D6E8FF;
       border-right: 2px solid #D6E8FF;
   }
    
   .webgrid-footer
   {
       padding: 6px 5px;
       
       text-align: center;
       background-color: Black;
       border-top: 2px solid #3966A2;
       height: 30px;
    
       border-bottom: 2px solid #D6E8FF;
       border-left: 2px solid #D6E8FF;
       border-right: 2px solid #D6E8FF;
   }
    
   .webgrid-alternating-row
   {
       height: 30px;
       background-color: #f2f2f2;
       border-bottom: 1px solid #d2d2d2;
    
       border-left: 2px solid #D6E8FF;
       border-right: 2px solid #D6E8FF;
   }
   .webgrid-alternating-row:hover
   {
       height: 30px;
       background-color: #778899;
       font-weight: bold;
       border-bottom: 1px solid #d2d2d2;
    
       border-left: 2px solid #D6E8FF;
       border-right: 2px solid #D6E8FF;
   }
   .webgrid-row-style
   {
       height: 30px;
       border-bottom: 1px solid #d2d2d2;
        
       border-left: 2px solid gray;
       border-right: 2px solid gray;
   }
   
   .webgrid-row-style:hover
   {
       height: 30px;
       border-bottom: 1px solid #d2d2d2;
       background-color: #778899;
       font-weight: bold;
       border-left: 2px solid gray;
       border-right: 2px solid gray;
   }
    
    
   .webgrid-selected-row
   {
       font-weight: bold;
       background-color: Black;
   }
   
.idColumn
{
    display: none;
}
   
   .clickable{
    cursor: pointer;
    background: #ffff99;
    }
body {
}
